.heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;

  &-strong {
    font-weight: 500;
  }
}

.paragraph {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;

  @media (max-width: 990px) {
    font-size: 14px;
  }

  &-small {
    font-size: 14px;
    line-height: 17px;
  }

  &-large {
    font-size: 16px;
    line-height: 22px;
  }

  &-strong {
    font-weight: 500;
  }
}
