:root {
  --primary-black: rgba(0, 0, 0, 1);
  --primary-white: rgba(255, 255, 255, 1);
  --gray: rgba(0, 0, 0, 0.5);
  --gray-medium: rgba(244, 244, 244, 1);
  --gray-light: rgba(247, 248, 250, 1);
  --gray-dark: rgba(153, 153, 153, 1);
  --gray-disabled: rgba(223, 223, 223, 1);
  --gray-border: rgba(0, 0, 0, 0.1);
  --gray-border-light: rgba(0, 0, 0, 0.32);
  --gray-label: rgba(0, 0, 0, 0.6);

  --error-red: rgba(229, 26, 26, 1);
  --error-red-light: rgba(229, 26, 26, 0.1);

  --font-body: SF Pro;
}