* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-body), sans-serif;
    background-color: var(--primary-white);
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;

    @media (max-width: 990px) {
      padding: 0 24px;
    }
  }

.wizard-steps__container{
    @apply lg:max-w-[676px] max-w-full mx-auto;
  
    .wizard-steps__item {
      @apply relative flex flex-col items-start gap-y-2 grow lg:min-w-[260px];
  
      &:not(:last-child) {
        .wizard-steps__item-step-wrapper {
          @apply relative lg:w-full w-auto;
  
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translateY(-50%);
            width: calc(100% - 40px);
            height: 1px;
            background-color: var(--primary-black);
            opacity: 0.2;
          }

          @media (max-width: 990px) {
            &:after {
              content: none;
            }
          }
        }
      }
  
      .wizard-steps__item-step {
        @apply relative lg:flex-col flex-row lg:rounded-full border lg:border-gray-border border-gray-medium text-sm leading-none text-primary-black lg:bg-primary-white bg-gray-medium;

        .wizard-steps__item-mobile {
          @apply w-0 h-full transition-all duration-300 ease-linear;
        }
  
        &.active {
          .wizard-steps__item-mobile {
            @apply bg-primary-black border-primary-black w-1/2;
          }
          @apply lg:text-primary-white lg:bg-primary-black lg:border-primary-black;
        }
  
        &.filled, &.visited {
          .wizard-steps__item-mobile {
            @apply bg-primary-black border-primary-black w-full;
          }
          @apply lg:text-primary-black lg:border-gray-medium lg:bg-gray-medium;
        }
      }
    }
  }